TripiTrafficMap/Service References/TrafficServiceReference/Eiskonfekt2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:1337/Eiskonfekt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrafficLibrary" />
  <xs:element name="GetEstimationPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrafficLibrary" minOccurs="0" name="query" nillable="true" type="q1:TrafficQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstimationPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrafficLibrary" minOccurs="0" name="GetEstimationPointResult" nillable="true" type="q2:TrafficQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>