trunk/TripiMobile/Web References/TripiWCFRemote/TripiSilverlightWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1094/TripiSilverlightWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TripiWCF.Service" />
  <xs:element name="CreateNewTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewTripResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TripiWCF.Service" minOccurs="0" name="GetTripsForUserResult" nillable="true" type="q1:ArrayOfTrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionNodesForTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionNodesForTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TripiWCF.Service" minOccurs="0" name="GetPositionNodesForTripResult" nillable="true" type="q2:ArrayOfPositionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TripiWCF.Service" minOccurs="0" name="node" nillable="true" type="q3:PositionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>