trunk/SilverlightShowcase/Service References/TripiSilverlightWCFServiceReference/TripiSilverlightWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TripiWCF.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TripiWCF.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trip" nillable="true" type="tns:Trip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrip" nillable="true" type="tns:ArrayOfTrip" />
  <xs:complexType name="Trip">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trip" nillable="true" type="tns:Trip" />
  <xs:complexType name="ArrayOfPositionNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionNode" nillable="true" type="tns:PositionNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionNode" nillable="true" type="tns:ArrayOfPositionNode" />
  <xs:complexType name="PositionNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="TripID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionNode" nillable="true" type="tns:PositionNode" />
</xs:schema>