TripiWCFPreprodServer/Generated/tempuri.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TripiWCF.Service" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CreateNewTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tripName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewTripResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTripsForUserResult" nillable="true" xmlns:q1="http://schemas.datacontract.org/2004/07/TripiWCF.Service" type="q1:ArrayOfTrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionNodesForTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionNodesForTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPositionNodesForTripResult" nillable="true" xmlns:q2="http://schemas.datacontract.org/2004/07/TripiWCF.Service" type="q2:ArrayOfPositionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" xmlns:q3="http://schemas.datacontract.org/2004/07/TripiWCF.Service" type="q3:PositionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPositionNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetSilverlightPolicyResult" xmlns:q4="http://schemas.microsoft.com/Message" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlashPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlashPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GetFlashPolicyResult" xmlns:q5="http://schemas.microsoft.com/Message" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>