TripiWCFPreprodServer/Generated/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TripiWCF.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITripService_CreateNewTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTrip" />
  </wsdl:message>
  <wsdl:message name="ITripService_CreateNewTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTripResponse" />
  </wsdl:message>
  <wsdl:message name="ITripService_GetTripsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripsForUser" />
  </wsdl:message>
  <wsdl:message name="ITripService_GetTripsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITripService_GetPositionNodesForTrip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionNodesForTrip" />
  </wsdl:message>
  <wsdl:message name="ITripService_GetPositionNodesForTrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositionNodesForTripResponse" />
  </wsdl:message>
  <wsdl:message name="ITripService_AddPositionNode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPositionNode" />
  </wsdl:message>
  <wsdl:message name="ITripService_AddPositionNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPositionNodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ITripService">
    <wsdl:operation name="CreateNewTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripService/CreateNewTrip" message="tns:ITripService_CreateNewTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripService/CreateNewTripResponse" message="tns:ITripService_CreateNewTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripService/GetTripsForUser" message="tns:ITripService_GetTripsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripService/GetTripsForUserResponse" message="tns:ITripService_GetTripsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositionNodesForTrip">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripService/GetPositionNodesForTrip" message="tns:ITripService_GetPositionNodesForTrip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripService/GetPositionNodesForTripResponse" message="tns:ITripService_GetPositionNodesForTrip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPositionNode">
      <wsdl:input wsaw:Action="http://tempuri.org/ITripService/AddPositionNode" message="tns:ITripService_AddPositionNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITripService/AddPositionNodeResponse" message="tns:ITripService_AddPositionNode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_ITripService" type="tns:ITripService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewTrip">
      <soap:operation soapAction="http://tempuri.org/ITripService/CreateNewTrip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripsForUser">
      <soap:operation soapAction="http://tempuri.org/ITripService/GetTripsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositionNodesForTrip">
      <soap:operation soapAction="http://tempuri.org/ITripService/GetPositionNodesForTrip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPositionNode">
      <soap:operation soapAction="http://tempuri.org/ITripService/AddPositionNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>